node_modules/
build/
dist/
coverage/
.DS_Store
*.log
*.db
*.db-journal
.env*
!.env.example
*.exe
*.exe~
*.err
wacalls/
wacalls-server/*
!wacalls-server/
!wacalls-server/Dockerfile
!wacalls-server/go.mod
uploads/
.vscode/
test-results/
test-results.json
